{
  "comments": false,
  "minified": true,
  "presets": [
    ["flow"],
    [
      "env",
      {
        "targets": { "node": "6.10" },
        "useBuiltIns": true,
        "modules": "commonjs",
        "loose": true
      }
    ],
    "stage-0"
  ],
  "plugins": []
}
